.hide {
    display: none;
}


#categories {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.category {
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: 100px;
}


.button-container {
    display: flex;
    align-items: center;
    display:block;
    
}

.btn-dif {
    background-color: hsl(217, 71%, 53%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-dif:hover {
    background-color: hsl(0, 0%, 71%);
    color: rgba(0, 0, 0, 0.975);
}



.btn-cat {
    background-color: transparent;
    border: 1px solid transparent;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.start {
    /* entire start screen */
    padding-top: 15vw
}

.start-title {
    /* start title only */
    padding-bottom: 7vw;
}

.start-btns {
    /* start screen buttons */
    padding-top: 5vw;
}

#category-button {
    /* take me to categories */
    padding: 5px 0 5px 0;
}

#end-message {
    padding-top: 17vw;
    /* all done */
}

#reset-btn {
    margin-top: 25vw;
}

/* My Additions: */

@media screen and (min-width: 768px) {
    .category {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 767px) {
    .category {
        width: calc(50% - 20px); 
    }
}

