.hide {
    display: none;
}


.category {
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
}

.button-container {
    display: flex;
    align-items: center;
    display:block;
    
}

.container-min {
    width: 100%; 
    height: 100%;

}


.main-img {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.main-img:hover {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
}


.content {
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    height: 100vh;
    width: 100vw;
    filter: blur(0px);
}


.content h1 {
    font-size: 3em;
    color: hsl(0, 0%, 96%);
    padding-top: 3rem;
}


.btn-dif:hover {
    background-color: hsl(0, 0%, 71%);
    color: rgba(0, 0, 0, 0.975);
}



.btn-cat {
    background-color: transparent;
    border: 1px solid transparent;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.start {
    /* entire start screen */
    padding-top: 0vw;
    padding-bottom: 0vw;
    
}

.categories{
    /* entire start screen */
    padding-top: 1vw;
    padding-bottom: 3vw;
}

.start-title {
    /* start title only */
    padding-bottom: 3vw;
}

.start-btns {
    /* start screen buttons */
    padding-top: 2vw;
}

#category-button {
    /* take me to categories */
    padding: 5px 0 5px 0;
}

#end-message {
    padding-top: 17vw;
    /* all done */
}

#reset-btn {
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: bold;
    background: linear-gradient(to right, #d4d3dd, #9999e6);

}

.swal-wide {
    width: 85vw !important;
    height: 100vh !important;
}

.categories {
    background: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
}

.category {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    
}

.quiz-screen {
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    height: 100vh;
    width: 100vw;
}

.titleq {
    background-color: hsl(0, 0%, 29%);
    color: #eee;
    padding: 2rem;
    font-size: 3rem;
}

.time {
    color: hsl(0, 0%, 29%);
    font-weight: bold;
    font-size: 1.3rem;
}

.question {
    background-color: hsl(0, 0%, 96%);
    color: hsl(0, 0%, 29%);
    padding: 0.5rem;
    padding-top: 3rem;
    height: 70%;
}

.scores-page {
    height: 100%;
}

#high-scores {
    width: 80%;
    margin: 0 auto;
}

.pagination {
    background: linear-gradient(to right, #d4d3dd, #b6b6ff);
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



/* My Additions: */

@media screen and (min-width: 768px) {
    .category {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 767px) {
    .category {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 800px) {
    .swal-wide {
        width: 100vw !important;
        height: 95vh !important;
    }
}